@font-face {
  font-family: "blackangel";
  src: url("../fonts/blackangelotf.otf") format("opentype"),
    url("../fonts/blackangelttf.ttf") format("truetype");
}

/* navbar */

.btn-search a {
  border: #f8de7e 4px solid;
  background-color: #f8de7e;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.btn-search a:hover {
  border: #f6f4ac 4px solid;
  color: #000;
  background-color: #f6f4ac;
}

.bg-img {
  background-image: url("../images/bg-events.png");
}

/* about us main content */

.bio-heading {
  text-align: center;
  font-family: "blackangel", sans-serif;
  color: white;
  font-size: 80px;
}

#about-us {
  display: flex;
}

.about-us {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  margin: 15px 5px 150px 5px;
  opacity: 0.8;
  width: 32%;
}

.bio-img {
  margin: auto;
  text-align: center;
}

.bio-img img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 150px #fccb99;
}

.title {
  margin: 20px;
  font-size: 18px;
  line-height: 1.5;
  height: 200px;
}

.sub-bio {
  text-align: right;
  margin: 10px 5px 40px 5px;
  color: black;
}

.social-media {
  color: #000;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}
