header {
  background-color: #000;
  opacity: 0.8;
}

header h1 {
  display: inline-block;
  margin: 0;
  padding: 16px;
  font-size: 22px;
}

header h1 a {
  text-decoration: none;
  color: #f8de7e;
  font-weight: 900;
  font-family: "Train One", cursive;
  font-size: 35px;
  padding: 5px;
}

header nav {
  float: right;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin: 8px;
  padding: 15px;
}

nav ul li a:hover {
  color: #f8de7e;
}

.btn-search a {
  border: #f9a602 4px solid;
  background-color: #f9a602;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.btn-search a:hover {
  border: #f8de7e 4px solid;

  color: #000;
  background-color: #f8de7e;
}

.card {
  border-radius: 25px;
  opacity: 0.7;
  margin: 10x;
  display: flex;
}
.events {
  display: flex;
  background: rgb(221, 215, 215);
  width: 100%;
  height: 100%;
}

.bg-events {
  background-image: url(../images/bg-events.png);
  background-position: center;
  background-repeat: repeat;
  /* background-size: cover; */
}

#cards {
  height: fit-content;
  flex-basis: 75%;
}

.column.is-full {
  margin: 5px 0 10px 10px;
}

.weather-card {
  position: fixed;
  width: 22%;
}

.test1 {
  /* border: black 2px solid; */
  flex-basis: 75%;
}

.test2 {
  /* border: black 2px solid; */
  flex-basis: 25%;
  padding: 25px;
  text-align: center;
}

.title.is-4 {
  margin: 0;
  font-size: 35px;
  /* margin-bottom: 15px; */
}

.image.is-48x48 {
  width: 190px;
}

.columns:not(:last-child) {
  margin-bottom: 0;
}
.temp,
.humidity {
  font-size: 20px;
  line-height: 2.5;
}
#weather {
  height: 100vh;
  flex-basis: 25%;
  margin: 5px 0 25px 25px;
}

.weather-box {
  height: 100%;
  width: 100%;
}

.temp i,
.humidity i,
.cityName {
  color: #f9a602;
}

.fa-twitter:before,
.fa-facebook:before {
  font-size: 25px;
}
