/* MEDIA QUERY MAX-WIDTH 1600px*/

@media screen and (max-width: 1600px) {
  /* about us page */

  .about-us-title {
    font-size: 18px;
    height: 250px;
  }
}

/* MEDIA QUERY MAX-WIDTH 1440px*/

@media screen and (max-width: 1440px) {
  /* about us page */
  .about-us-title {
    font-size: 16px;
    height: 240px;
  }
}

/* MEDIA QUERY MAX-WIDTH 1024px*/

@media screen and (max-width: 1024px) {
  /* homepage */
  .back-img {
    height: 110vh;
  }

  /* events page */
  .temp,
  .humidity {
    font-size: 16px;
  }

  .content h3 {
    font-size: 20px;
  }

  .test2 {
    padding: 30px 10px;
  }

  .title.is-4 {
    font-size: 26px;
  }

  /* about us page */

  .about-us-title {
    font-size: 16px;
    height: 360px;
  }
}

/* MEDIA QUERY MAX-WIDTH 950px*/

@media screen and (max-width: 950px) {
  /* events page */

  .temp,
  .humidity {
    font-size: 16px;
  }
  .image img {
    width: 85%;
  }

  .title.is-4 {
    font-size: 27px;
  }
  .card {
    flex-direction: column;
  }

  .card-content {
    padding: 20px 15px 0 15px;
  }

  .weather-card {
    position: relative;
    width: 50%;
    text-align: center;
    margin: auto;
  }

  .events-line {
    display: block;
  }

  .bg-events {
    flex-direction: column-reverse;
  }

  /* about-us page */
  #about-us {
    flex-direction: column;
  }

  .about-us {
    margin: 10px auto;
    width: 95%;
  }

  .about-us .title {
    height: 120px;
  }
}

/* MEDIA QUERY MAX-WIDTH 768px*/
@media screen and (max-width: 768px) {
  /* events page */

  /* .back-img {
    height: 100vh;
  } */

  .title.is-4 {
    font-size: 25px;
  }

  .content {
    font-size: 20px;
  }

  /* about us page */
  .about-us .title {
    height: 135px;
  }
}
/* MEDIA QUERY MAX-WIDTH 575px*/

@media screen and (max-width: 575px) {
  /*homepage  */
  .main-title {
    font-size: 70px;
  }

  h2.subtitle.sub-main {
    font-size: 40px;
  }

  #events {
    margin: 5px;
  }

  #submit-hp {
    font-size: 14px;
    width: 90px;
  }

  #city-text {
    font-size: 20px;
  }

  /* events page */

  .weather-card {
    width: 90%;
  }

  .image.is-48x48 {
    width: 65%;
    margin: auto;
  }

  .image img {
    display: none;
    margin: auto;
  }
  .media {
    flex-direction: column;
    height: 130px;
  }

  .media-left {
    width: 100%;
  }
  .title.is-4 {
    text-align: center;
  }

  .media-content {
    width: 100%;
    margin-top: 0;
    padding: 0;
    text-align: center;
  }
  /* about us page */
  .about-us-header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about-us .title {
    height: 270px;
  }

  .subtitle {
    font-size: 55px;
  }
}
