/* MEDIA QUERY MAX-WIDTH 1600px*/

@media screen and (max-width: 1600px) {
  /* about us page */

  .about-us-title {
    font-size: 18px;
    height: 250px;
  }
}

/* MEDIA QUERY MAX-WIDTH 1440px*/

@media screen and (max-width: 1440px) {
  /* about us page */
  .about-us-title {
    font-size: 16px;
    height: 240px;
  }
}

/* MEDIA QUERY MAX-WIDTH 1024px*/

@media screen and (max-width: 1024px) {
  /* events page */
  .temp,
  .humidity {
    font-size: 16px;
  }

  .content h3 {
    font-size: 20px;
  }

  .test2 {
    padding: 25px 10px;
  }

  /* about us page */

  .about-us-title {
    font-size: 16px;
    height: 360px;
  }
}

/* MEDIA QUERY MAX-WIDTH 950px*/

@media screen and (max-width: 950px) {
  /* events page */
  .temp,
  .humidity {
    font-size: 16px;
  }

  .image img {
    width: 85%;
  }

  .title.is-4 {
    font-size: 27px;
  }
  .card {
    flex-direction: column;
  }

  .card-content {
    padding: 20px 15px 0 15px;
  }

  /* about us page */

  .about-us-title {
    font-size: 15px;
    height: 350px;
  }
  .events-line {
    display: block;
  }
}

/* MEDIA QUERY MAX-WIDTH 768px*/
@media screen and (max-width: 768px) {
  /* events page */
  .weather-card {
    position: relative;
    width: 50%;
    text-align: center;
    margin: auto;
  }

  .bg-events {
    flex-direction: column-reverse;
  }

  /* about-us page */
  #about-us {
    flex-direction: column;
  }

  .about-us {
    margin: 10px auto;
    width: 95%;
  }

  .about-us .title {
    height: 120px;
  }
}
/* MEDIA QUERY MAX-WIDTH 575px*/
